.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
}

input {
  border: 1px solid #f0f2f5;

  width: 227px;
  height: 25px;
  margin-bottom: -18px;
  background: #f0f2f5;
  border-radius: 6px;
  font-weight: 400;
  font-size: 10.8px;
  line-height: 24px;

  text-indent: 5px;
  color: #16227b;
}

label {
  font-size: 11px;
  color: rgb(59, 59, 59);
  line-height: 24px;
  letter-spacing: 0.02em;
  display: flex;
  text-indent: 3px;
}

.errormssg {
  justify-content: space-between;
  font-size: 10.1px;
  padding: 3px;
  color: rgba(0, 0, 0, 0.45);
  position: absolute;
  margin-top: 200px;
  /* margin-right: 0px; */
  text-align: right;
  position: absolute;
  display: flex;
  width: 225px;
}

.errormssg1 {
  margin-top: 53px;
}

input:invalid[focused="true"] {
  display: block;
  border: 1px solid hsla(204, 89%, 52%, 1);
}

input:invalid[focused="true"] ~ span {
  display: block;
}

.pw-display-toggle-btn i.fa-eye-slash {
  display: none;
}
.pw-display-toggle-btn.active i.fa-eye-slash {
  display: block;
}
.pw-display-toggle-btn.active i.fa-eye {
  display: none;
}
